<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Inbody India</title>
    <style>
      body{
        background-color: whitesmoke;
      }
      .btn
      {
        display: flex;
        justify-content: flex-end;
        
      }
      .btn > div{
        margin-left: 2%;
      }
 
    </style>
  </head>

  <body>
    

 
  
    <br><br>
<!-- New 1 -->
    <!-- <div class="container" >
      <div class="row justify-content-end">
        <div class="col-2"><a href="/" class="btn btn-primary ">Booking</a></div>
        <div class="col-2"><a href="show-record" class="btn btn-primary ">Show Records</a></div>
        <div  class="col-2"><a href="#" class="btn btn-primary">Export to XL</a></div>
 
      </div>
    </div> -->
    <div class="container">
      <div class="btn">
        <div><a href="/" class="btn btn-primary ">Booking</a></div>
        <div><a href="show-record" class="btn btn-primary ">Show Records</a></div>
        <div><a href="qrcode" class="btn btn-primary">Machine QR</a></div>
 
      </div>
    </div>
<br><br>
  {% block bookingform %}
  {% endblock %}
  {% block recordTable %}
  {% endblock %}
  {% block machinecode %}
  {% endblock %}
<br><br>
    <!-- Optional JavaScript; choose one of the two! -->
  <script>
 
    let region = document.getElementById('validationCustom0444');
    region.addEventListener('change', RegionSelection)
    function selected_region(){
      //alert(region.value);
      const xhr = new XMLHttpRequest();
      xhr.open('GET','region',true);
      xhr.getResponseHeader('Content-type','application/json');
      xhr.onprogress = function(){
        console.log('onprocess');
        console.log(region.value);

      }
      xhr.onload=function(){
        if(this.status===200){
          console.log(this.responseText);
        }
        else{
          console.log("some error occured");
        }
      }
      arms={"regioon":region.value};
      xhr.send(arms);
      console.log("this is called");
    }
    function RegionSelection(){
 
      if(region.value == 'West 1'){
        document.getElementById('west_1').style.display="block";
        document.getElementById('west_2').style.display="none";
        document.getElementById('north').style.display="none";
        document.getElementById('south').style.display="none";
        document.getElementById('east').style.display="none";
      }
      if(region.value == 'East'){
        document.getElementById('west_1').style.display="none";
        document.getElementById('west_2').style.display="none";
        document.getElementById('north').style.display="none";
        document.getElementById('south').style.display="none";
        document.getElementById('east').style.display="block";
      }
      if(region.value == 'West 2'){
        document.getElementById('west_1').style.display="none";
        document.getElementById('west_2').style.display="block";
        document.getElementById('north').style.display="none";
        document.getElementById('south').style.display="none";
        document.getElementById('east').style.display="none";
      }
      if(region.value == 'North'){
        document.getElementById('west_1').style.display="none";
        document.getElementById('west_2').style.display="none";
        document.getElementById('north').style.display="block";
        document.getElementById('south').style.display="none";
        document.getElementById('east').style.display="none";
      }
      if(region.value == 'South'){
        document.getElementById('west_1').style.display="none";
        document.getElementById('west_2').style.display="none";
        document.getElementById('north').style.display="none";
        document.getElementById('south').style.display="block";
        document.getElementById('east').style.display="none";
      }
    }
  </script>

 
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>